/* Tags */

/* For Mobile */
@media screen and (max-width: 540px) {
    html, body {
    height: 100%;
    width: 100%;
    margin: 0;

    color: black;
    background-color: rgb(245, 245, 245);
    }

    input, select, button {
        width: 100%;
        height: 40px;
        padding: 0 8px 0 8px;
        box-sizing:border-box;

        color: black;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgba(0, 0, 0, 0.075);
        border-radius: 10px;
        outline: none;
    }

    button#filter, button#submit {
        width: 40px;
    }

    input:active, select:active, button:active {
        filter: brightness(.98);
        outline: none;
    }

    input:active.color-light, select:active.color-light, button:active.color-light {
        filter: brightness(1.1);
    }

    input:hover, select:hover, button:hover {
        filter: brightness(.98);
    }

    input:hover.color-light, select:hover.color-light, button:hover.color-light {
        filter: brightness(1.1);
    }

    select, select option {
        color: black;
    }

    path#filter-icon-path {
        stroke: none;
        fill: #000000;
    }

    /* IDs */

    #apply {
        background-color: #0835db;
        color: white;
    }

    #apply.color-light {
        background-color: #503875;
        color: white;
    }

    #apply:hover, #apply:active {
        filter: brightness(0.9);
    }

    #apply:hover.color-light, #apply:active.color-light {
        filter: brightness(1.1);
    }

    #reset {
        border-color: #ffffff;
    }

    #reset.color-light {
        background-color: #262626;
        border: #262626;
    }

    #reset:hover, #reset:active {
        border-color: rgb(245, 245, 245);
    }

    #reset:hover.color-light, #reset:active.color-light {
        filter: brightness(1);
        background-color: #303030;
        border: #191919;
    }

    #name {
        width: 100%;
    }

    #sort {
        right: 133px;
    }

    #order {
        right: 16px;
    }

    #filter {
        padding-top: 1px;
    }

    #submit {
        display: flex;
        align-items: center;
    }

    #search-icon {
        margin-top: 1px;
    }

    /*Classes */

    .item:hover, .close:hover {
        filter: brightness(.9);
        cursor: pointer;
    }

    .close {
        color: #ffffff;
    }

    .focus-modal {
        background-color: rgba(0, 0, 0, 0.9);
    }

    .color-light {
        background-color: #303030;
        color: #ffffff;
    }

    .color-light option {
        color: #ffffff;
    }

    .color-light path#filter-icon-path {
        stroke: none;
        fill: #ffffff;
    }

    .color-light path#search-icon-path {
        stroke: #ffffff;
    }

    .color-medium {
        background-color: #262626;
        border-color: #191919;
        color: #ffffff;
    }

    .container {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .modal-container {
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 16px;
    }

    .card-container {
        margin: 0;
        padding: 0;
    }

    .card {
        width: 100%;
    }

    .ban-icon {
        top: 30px;
        right: -5px;
        margin-top: -35px;
        width:35px;
        float:right;
        position: relative;
    }

    .search-bar {
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        width: 100%;
        height:60px;
        padding: 16px;
        left: 0px;
        top: 0;
        box-sizing: border-box;
        position: fixed;
        z-index: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }

    .gallery {
        width: calc(100vw - 15px);
        padding: 8px 8px 8px 8px;
        margin-top: 29px;
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        box-sizing: border-box;
        gap: 16px;
        align-content: center;
    }

    .focus-modal {
        top:0;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 4;
        background-color: rgba(0, 0, 0, 0.9);
        display: none;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .modal-content {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        padding: 10px;
        margin: 0;
        box-sizing: border-box;
        display: block;
        object-fit: contain;
        z-index: 3;
    }

    .filter-bar {
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin-top: 59px;
        padding: 8px 16px 8px 16px;
        width: 100%;
        position:fixed;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        display: none;
        flex-wrap: wrap;
        gap: 8px;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    }
}


/* For Desktop */
@media screen and (min-width: 540px) {
    html, body {
    height: 100%;
    width: 100%;
    margin: 0;

    color: black;
    background-color: rgb(245, 245, 245);
    }

    input, select, button {
        width: auto;
        height: 40px;
        padding: 0 8px 0 8px;
        box-sizing:border-box;

        color: black;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgba(0, 0, 0, 0.075);
        border-radius: 10px;
        outline: none;
    }

    input#name {
        width: 500px;
    }

    button#filter, button#submit {
        width: 40px;
    }

    input:active, select:active, button:active {
        filter: brightness(.98);
        outline: none;
    }

    input:active.color-light, select:active.color-light, button:active.color-light {
        filter: brightness(1.1);
    }

    input:hover, select:hover, button:hover {
        filter: brightness(.98);
    }

    input:hover.color-light, select:hover.color-light, button:hover.color-light {
        filter: brightness(1.1);
    }

    select, select option {
        color: black;
    }

    path#filter-icon-path {
        stroke: none;
        fill: #000000;
    }

    /* IDs */

    #apply {
        background-color: #0835db;
        color: white;
    }

    #apply.color-light {
        background-color: #503875;
        color: white;
    }

    #apply:hover, #apply:active {
        filter: brightness(0.9);
    }

    #apply:hover.color-light, #apply:active.color-light {
        filter: brightness(1.1);
    }

    #reset {
        border-color: #ffffff;
    }

    #reset.color-light {
        background-color: #262626;
        border: #262626;
    }

    #reset:hover, #reset:active {
        border-color: rgb(245, 245, 245);
    }

    #reset:hover.color-light, #reset:active.color-light {
        filter: brightness(1);
        background-color: #303030;
        border: #191919;
    }

    #name {
        width: 100%;
    }

    #sort {
        right: 133px;
    }

    #order {
        right: 16px;
    }

    #filter {
        padding-top: 1px;
    }

    #submit {
        display: flex;
        align-items: center;
    }

    #search-icon {
        margin-top: 1px;
    }

    /*Classes */

    .item:hover, .close:hover {
        filter: brightness(.9);
        cursor: pointer;
    }

    .close {
        color: #ffffff;
    }

    .focus-modal {
        background-color: rgba(0, 0, 0, 0.9);
    }

    .color-light {
        background-color: #303030;
        color: #ffffff;
    }

    .color-light option {
        color: #ffffff;
    }

    .color-light path#filter-icon-path {
        stroke: none;
        fill: #ffffff;
    }

    .color-light path#search-icon-path {
        stroke: #ffffff;
    }

    .color-medium {
        background-color: #262626;
        border-color: #191919;
        color: #ffffff;
    }

    .container {
        width: 100%;
        display: flex;
        flex-direction: row;
    }

    .modal-container {
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 16px;
    }

    .card-container {
        margin: 0;
        padding: 0;
    }

    .card {
        width: 100%;
    }

    .ban-icon {
        top: 30px;
        right: -5px;
        margin-top: -35px;
        width:35px;
        float:right;
        position: relative;
    }

    .search-bar {
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        width: 100%;
        height:60px;
        padding: 16px;
        left: 0px;
        top: 0;
        box-sizing: border-box;
        position: fixed;
        z-index: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }

    .gallery {
        width: calc(100vw - 15px);
        padding: 8px 24px 8px 8px;
        margin-top: 29px;
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        box-sizing: border-box;
        gap: 16px;
        align-content: center;
    }

    .focus-modal {
        top:0;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 4;
        background-color: rgba(0, 0, 0, 0.9);
        display: none;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .modal-content {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        padding: 10px;
        margin: 0;
        box-sizing: border-box;
        display: block;
        object-fit: contain;
        z-index: 3;
    }

    .filter-bar {
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.1);
        margin-top: 59px;
        padding: 8px 16px 8px 16px;
        width: 100%;
        position:fixed;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        display: none;
        flex-wrap: wrap;
        gap: 8px;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    }
}

